<% include _header %>
  <a href="/new">Make a new Post</a>
    <% posts.forEach(function (post) { %>
      <div class="ejs-front-page-post">
        <h1><a href="/<%= post.id %>"><%= post.title %></a></h1>
        <h2><%= post.date %> Tag: <%= post.tag %></h2>
        <div><% post.body.forEach(function(item) { %>
          <% if (item.tag === "h2") { %>
            <h2><%= item.content %></h2>
          <% } else if (item.tag === "p") { %>
            <p><%= item.content %></p>
          <% } else if (item.tag === "img") { %>
            <img src="<%= item.content %>" />
          <% } else if (item.tag === "iframe") { %>
            <iframe src="<%= item.content %>" frameborder="0" allowfullscreen></iframe>
          <% }}) %>
        </div>
      </div>
    <% }) %>
  </div>
<% include _footer %>
